


<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Skydash Admin</title>
	<link rel="stylesheet" href="~/Admin2/vendors/feather/feather.css">
	<link rel="stylesheet" href="~/Admin2/vendors/ti-icons/css/themify-icons.css">
	<link rel="stylesheet" href="~/Admin2/vendors/css/vendor.bundle.base.css">
	<link rel="stylesheet" href="~/Admin2/css/vertical-layout-light/style.css">
	<link rel="shortcut icon" href="~/Admin2/images/favicon.png" />
	<link rel="stylesheet" href="~/Admin2/vendors/mdi/css/materialdesignicons.min.css">
</head>